<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.example.myapplication">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning">
        <activity
            android:name=".activities.Departments"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.Positions"
            android:label="@string/positions_activity_title"
            android:parentActivityName=".activities.Departments"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.myapplication.activities.Departments" />
        </activity>
        <activity
            android:name=".activities.Applicants"
            android:label="@string/applicants_activity_title"
            android:parentActivityName=".activities.Competencies"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.myapplication.activities.Competencies" />
        </activity>
        <activity
            android:name=".activities.CompetencyAreas"
            android:label="@string/competency_areas_activity_title"
            android:parentActivityName=".activities.Applicants"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.myapplication.activities.Positions" />
        </activity>
        <activity
            android:name=".activities.Competencies"
            android:label="@string/competencies_activity_title"
            android:parentActivityName=".activities.CompetencyAreas"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.myapplication.activities.Applicants" />
        </activity>
        <activity
            android:name=".activities.Evaluation"
            android:label="@string/evaluation_activity_title"
            android:parentActivityName=".activities.Departments"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.myapplication.activities.Departments" />
        </activity>
    </application>

</manifest>